<h1><%= "Add a prescription to NAME" %></h1>

<%= form_for @prescription, url: patient_prescriptions_path(patient_id: @patient.id) do |f| %>

  <ul>
    <li>
      <%= f.label :medication %>
      <%= f.text_field :medication %>
    </li>


    <li>
      <%= f.label :dosage %>
      <%= f.text_field :dosage %>
    </li>


    <li>
      <%= f.label :schedule %>
      <%= f.text_field :schedule %>
    </li>


    <li>
      <%= f.label :starts_on %>
      <%= f.date_select :starts_on %>
    </li>

    <li>
      <%= f.label :ends_on %>
      <%= f.date_select :ends_on %>
    </li>
  </ul>


  <div class="container">
    <%= f.submit "Create Prescription" %>
  </div>

<% end %>