
<% @patients.each do |patient| %>
<%= full_name(patient) %>
<% end %>



<table class="table">
  <thead>
  <tr>
    <h3><%= @medication.name %></h3>
  </tr>
  </thead>

  <tbody>
  <tr>
    <th>Patient</th>
    <th>Dosage/Schedule</th>
    <th>Dates</th>
    <th>Prescribed By</th>
  </tr>

  <% @patients.each do |prescription| %>
    <tr>
      <td><%= prescription.patient.name %></td>
      <td><%= prescription.medication.name %> </td>
      <td><%= "#{prescription.dosage}/#{prescription.schedule}" %></td>
      <td><%= "#{prescription.starts_on} - #{prescription.ends_on}" %></td>
    </tr>
  <% end %>

  </tbody>
</table>