
<table class="table">
  <thead>
  <tr>
    <h3><%= @medication.name %></h3>
  </tr>
  </thead>

  <tbody>
  <tr>
    <th>Patient</th>
    <th>Dosage/Schedule</th>
    <th>Dates</th>
    <th>Prescribed By</th>
  </tr>

  <% @medication.prescriptions.each do |prescription| %>
    <tr>
      <td> <%= prescription.patient.first_name %></td>
      <td><%= prescription.dosage %></td>
      <td><%= prescription.schedule %></td>
      <td><%= prescription.get_user_name(prescription.user_id) %></td>
    </tr>
  <% end %>

  </tbody>
</table>
